*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    /* overflow-y: scroll; */

}

/*-----------------Nav Bar Section start Here -----------------------*/

.nav-container{
    height: 4rem;
    width:100%;
    /* border: 1px solid black; */
    display: flex;
    /* background-color:#002F3408, opacity 3.00%; */
    background-color: #EBEBEB;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-evenly;
}

.navbar-logo{
    width: 5rem;
    height: 4rem;
    display: flex;
    align-items: center;
}
.hover-prop:hover{
    cursor: pointer;
}
.navbar-logo img{
    margin-top: 10px;
    width: 80%;
    height: 2.75rem;
}


/* country section */

.country-section{
    padding: 10px;
    width: 270px;
    height: 3rem;
    border: 2px solid black;
    border-radius: 2%;
    display: flex;
    align-items: center;
}

.country-section img{
    height: 1.1rem;
}
.country-select-option{
    width: 100%;
    border: none;
    font-size: 0.95rem;
    background-color: #EBEBEB;
}

.nav-input{
    display: flex;
    height: 3rem;
    align-items: center;
    border: none;
    
}

.nav-input-input{
    width: 700px;
    height: 3rem;
    border: 2px solid black;
    border-radius: 2%;
    align-items: center;
    border-right: none;
    font-size: 0.95rem;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
}
.nav-img-sr{
    width: 40px;
    height: 3rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #002F34;
    border-left: none;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.nav-search-icon{
    height: 1.3rem;
    /* border: 2px solid black; */
    position: absolute;
    left:28%;
    color: white;
    transform: white;
}
.nav-language{
    height: 3rem;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    color: #002F34;
    
}
.nav-language select:hover{
    cursor: pointer;
}
.nav-language select{
    border: none;
    font-weight: 700;
    font-size: medium;
    color: #002F34;
    background-color: #EBEBEB;
}

.nav-btn{
    height: 3rem;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
.nav-login-text{
    border:none;
    text-decoration: underline;
    font-weight: 600;
    font-size: medium;
    color: #002F34;
}
.nav-login-text:hover{
    cursor: pointer;
    text-decoration: none;
}
.nav-sell-section{
    height: 3rem;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    /* position: relative; */
}

.nav-sell-section img{
    width: 70%;
    margin-left: 12%;
    /* position: absolute;
    left: 0%; */
}
.nav-sell-section:hover{
    cursor: pointer;
}

/*-----------------Gapping Both Section NAV Bar and Categories Section Start Here -----------------------*/

.gap-in-the-both-section{
    height: 0.5rem;
    width: 100%;
    background: white;
}

/*-----------------Categories Section start Here -----------------------*/

.all-cat-section{
    background: #fdfdfd;
    height: 2.5rem;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
.all-cat select{
    color: #002F34;
    font-weight: 550;
    border: none;
    font-size: 0.90rem;
    background: #fdfdfd;
    margin-left: 95%;
    /* border: 2px solid black; */
}
.all-cat:hover{
    cursor: pointer;
}
.related-cat{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    /* border: 2px solid black; */
    margin-left: 12%;
}
.same-class{
    color:#002F34;
    /* border: 2px solid black; */
    font-size: 0.85rem;
    font-weight: 525;
}
.same-class:hover{
    cursor: pointer;
    color:rgb(147, 240, 240);
}

/*-----------------Fresh Recommendation Section start Here -----------------------*/

/* .main-section{
    width: 100%;
} */
.main-section-heading{
    color: #002F34;
    font-size: 1.5rem;
    /* align-items: center; */
    /* margin-left: 12%; */
    /* border: 3px solid springgreen; */
}
.main-section-heading p{
    color: #002F34;
    font-size: 1.5rem;
    /* align-items: center; */
    margin-left: 12%;
    /* border: 3px solid springgreen; */
}
.main-container{
    margin-top: 2rem;
    /* height: 959.2px; */
    width: 80%;
    margin-left: 10%;    
    /* border: 2px solid black; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.65rem;
}
.main-section{
    border: 1px solid rgb(213, 210, 210);
    border-radius: 2%;
    width: 16.625rem;
    height: 16rem;
    /* margin-left: 11.7% ;
    margin-right: 3px; */
    padding: 4px ;
}
.main-section:hover{
    cursor: pointer;
}
.card-section{
    width: 100%;
    height: 10rem;
    /* border: 2px solid red; */
    padding: 3px ;
}
.card-section img{
    width: 100%;
    height: 100%;
}
.card-info{
    margin-top: 3px;
    width: 100%;
    height: 4.5rem;
    /* border: 2px solid green; */
}
.card-rupay{
    margin-left:8px ;
    font-size: 1.35rem;
    font-weight: 600;
    color: #002F34;
}
.card-year-and-km{
    margin-left: 8px;
    font-weight: 600;
    font-size:0.92rem;
    color:#002F34a3
}
.card-name{
    margin-left: 8px;
    font-weight: 400;
    font-size:0.80rem;
    color:#002F34a3
}
.card-lower-section{
    display: flex;
    align-items: start;
    /* border: 3px solid orange; */

}
.card-location{
    font-size: 10px;
    color: #002F34a3;
    margin-left: 8px;
    /* display: flex; */
    align-items: flex-start;
    font-weight: 600;
}
.card-date{
    /* display: flex; */
    align-items: flex-end;
    margin-right: 3px;
}

/*-----------------Load More Btn start Here -----------------------*/

.btn-div{
    margin-top: 15px;
    /* border: 2px solid black; */
    height: 4rem;
    width: 100%;
    margin-bottom: 15px;
}
.load-more-btn{
   margin-left: 50%; 
   margin-top: 50px;
   margin-bottom: 15px;
   color: #002F34;
   font-weight: bold;
   padding: 5px;
   background: white;
   border-color: black;
   border-radius: 5px;
   height: 2.75rem;
   font-size: 0.95rem;
}
.load-more-btn:hover{
    border: 4px solid #002F34;
}
/*-----------------Footer Image start Here -----------------------*/
.footer-img{
    width: 100%;
    height: 12.4rem;
    margin-top: 100px;
    /* border: 3px solid green; */
}
.footer-img img{
    width: 100%;
}

/*-----------------Footer Contact US start Here -----------------------*/
.footer-section{
    /* gap: 20px; */
    background-color: #EBEBEB;
    /* border: 2px solid orange; */
    display: flex;
    height: 11rem;
    width: 100%;
    /* align-items: center; */
    gap: 15px;
    justify-content: space-evenly;
}

.footer-sub-section{
    margin-top: 15px;
    line-height: 23px;
    /* border: 3px solid orange; */
}

.footer-sub-section-heading{
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
.same-footer-class{
    color: #002F34a3;
    font-size:small;
    gap:20px;
}
.same-footer-class:hover{
    cursor: pointer;
    color: #002F34;
    
}
.footer-sub-section-headings{
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.footer-icon{
    margin-right: 9px;
    color: #002F34;
}
.footer-icon:hover{
    cursor: pointer;
}
.last-img-section-footer{
    margin-top: 40%;
}

/*-----------------CopyRight Section start Here -----------------------*/

.copyright-section-start{
    height: 4.5rem;
    width: 100%;
    background-color: #002F34;
    /* border: 2px solid yellow; */
    /* position: relative; */
}
.copyright-content{
    display: flex;
    justify-content: space-between;
   align-items: center;
   /* position: absolute; */
   
   
}
.left-content{
    color: white;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 30px;
    font-weight: lighter;
    
}
.left-content:hover{
    cursor: pointer;
}
.right-content{
    color: white;
    font-size: smaller;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 12px;
    font-weight: lighter;
}
.right-content:hover{
    cursor: pointer;
}